<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    
</head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li>
                  <a href="/writepost">Write New blog</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Posts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
			<li><a href="/posts/5">Why i'm here</a></li>
			<li><a href="/posts/6">Problem Solving</a></li>
			<li><a href="/posts/7">Tools, Texts and Terminals</a></li>
			<li><a href="/posts/8">Features i want to add</a></li>
			<li><a href="/posts/9">Billy's Guest Post</a></li>
			<li><a href="/posts/12">Summary of Villiers</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Hemsley's Blog</h1>
                <p id="subtitle">This is still a work in progress. Please stand by.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
			<h3>Who am I?</h3>
			<hr><p>Well my name is <strong>Callum</strong> and i'm currently an A-level student in Year 12 studying Computer Science, Maths, Physics and Chemistry. My hobbies include playing most sports, (Except <i>cricket</i>, just no!) playing videos games and un-suprisingly, programming. Enjoy my blog.</p>
                    <h3>Recent Blog Posts</h3>
		<hr>
                    <ul class="links">
			<li><a href="/posts/5">Why I'm here</a></li>
			<p>A brief description on why i'm at Villiers Park.</p>
			<li><a href="/posts/6">Problem Solving and Being Lazy</a></li>
			<p>My thoughts on Problem Solving and what we learnt.</p>
			<li><a href="/posts/7">Tools, Texts and Terminals</a></li>
			<p>What tools, texts and terminals i'm using for this blog.</p>
			<li><a href="/posts/8">Features i want to add</a></li>
			<p>A short post on my vision of this blog in the near future.</p>
			<li><a href="/posts/9">Billy's Guest Post</a></li>
			<p>A very small post by Villiers Park tutor, Billy.</p>
			<li><a href="/posts/12">Summary of Villiers</a></li>
			<p>A brief summary of the week.</p>
                    </ul>
            </div>
          </div>
        </div>
    </body>
</html>
