<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>My Blog</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    {% endblock %}    
  </head>
  <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li><a href="/writepost">Write New Post</a>
              </li>
	`     <li><a href="/projects">Recent Projects</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Posts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
			<li><a href="/posts/5">Why i'm here</a></li>
			<li><a href="/posts/6">Problem Solving</a></li>
			<li><a href="/posts/7">Tools, Texts and Terminals</a></li>
			<li><a href="/posts/8">Features i want to add</a></li>
			<li><a href="/posts/9">Billy's Guest Post</a></li>
			<li><a href="/posts/12">Summary of Villiers</a></li>
                  </ul>
              </li>
            </ul>
          </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
