{% extends "masterfile.html" %}
{% block content %}
<div class="container">
    <h3>Features i want to add to my blog.</h3><hr>
    <p class="btext">The first feauture i want to implement is a sort of, automatin of creating a new webpage on my website for every new blog site, without me manually "copy and pasting" the html dcument and changing it for every single new post. So far i have partly done this by creating "templates". Templates are in the simplest case, just HTML files with placehlds. The HTML file is sent to the user\srowser after filling in the placeholders.(In my case done with python and Jinja)</p>
    <p class="btext"></p>
    <p class="btext"></p>
</div>
{% endblock %}
