<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Posts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('posts', name='hello_world') }}">Hello World</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>
    <body>
        <div class="container">
            <div class="row">
                <h3>Hello World!</h3>
                <p>
I’m here for several reasons. One of the main reasons is i have a passion for computer science and love anything computer related. In addition it’s great to have this to show my passion for university applications. Furthermore i hope to further myself in my knowledge of programming as well as the theory side for computer science too. Also i’m very fond of seeing Bletchley Park as my Great Great Uncle worked there cracking codes in World War 2.What i want to get out of this is meeting people who are just as passionate as me in the realm of Computer Science. Following this point, i also hope to gain experiences that i would be able to use in the professional world of Computer Science. This will also be great for my Personal statement as i’ll have a lot more to talk about.

It will be great to work in a team and learn from others and not just a teacher or the web. I think this will increase my communication skills as well as presentation skills and not just my ability as a software engineer.
</p>
            </div>
          </div>
        </div>
    </body>
</html>
